/*
!.gitignore
!README.md

!.config/
.config/*

!.config/kitty/

!.config/spicetify/
.config/spicetify/*
!.config/spicetify/Themes/

!.config/neofetch/

!.config/lvim/
.config/lvim/*
!.config/lvim/config.lua

!.config/hypr/

!.config/htop/

!.bashrc

!Pictures/
Pictures/*
!Pictures/wallpapers/

!.themes/

!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/fonts/

!.scripts/
