* {
  font-family: "DroidSansMono Nerd Font", sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
  opacity: 0.7;
}

tooltip {
  background: #1e1e2e;
  border: 1px solid #313244;
}

tooltip label {
  color: #d9e0ee;
  padding: 3px 7px;
}

#workspaces,
#backlight,
#battery,
#clock,
#cpu,
#memory,
#disk,
#tray,
#custom-menu,
#custom-power,
#custom-updater,
#custom-uptime,
#custom-weather,
#custom-cycle_wall,
#custom-vpn_check,
#custom-cputemp,
#custom-keybindings,
#pulseaudio,
#network,
#custom-spotify,
#custom-cava,
#custom-media {
  color: #d9e0ee;
  background-color: #1e1e2e;
  border: 10px solid #313244;
  margin: 0px 3px;
  padding: 0px 10px;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#workspaces {
  padding: 0px;
  margin-left: 3px;
}

#workspaces button {
  color: #d9e0ee;
  padding: 0px 2px;
}

#workspaces button:hover {
  border: none;
  background-color: rgb(100, 100, 100);
}

#workspaces button.active {
  background-color: rgb(150, 150, 150);
  color: #1e1e2e;
  border-radius: 9px;
  padding: 0px 7px;
  transition: padding 100ms;
}

#custom-power {
  margin-right: 4px;
}
