@import "../../../.cache/wal/colors-waybar.css";

* {
  font-family: "DroidSansMono Nerd Font", sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: rgba(0,0,0,0);
}

window#waybar.hidden {
  opacity: 0.7;
}

#workspaces,
#backlight,
#battery,
#clock,
#cpu,
#memory,
#disk,
#tray,
#custom-menu,
#custom-power,
#custom-updater,
#custom-uptime,
#custom-weather,
#custom-cycle_wall,
#custom-vpn_check,
#custom-cputemp,
#custom-keybindings,
#pulseaudio,
#network,
#custom-spotify,
#custom-cava,
#custom-media {
  color: @color7;
  background-color: @color0;
  border: 2px solid @color1;
	border-radius: 10px;
	margin: 0px 3px;
	padding: 0px 10px;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
  color: rgb(200, 200, 200);
  background-color: rgb(78, 78, 78);
	/* background-color: #f38ba8; */
  /* color: #f38ba8; */
  /* animation-name: blink; */
  /* animation-duration: 0.5s; */
  /* animation-timing-function: linear; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#workspaces {
  padding: 0px;
  margin-left: 3px;
}

#workspaces button {
  color: @color7;
  padding: 0px 2px;
}

#workspaces button:hover {
  border: none;
}

#workspaces button.active {
  background-color: @color1;
  color: @color0;
  border-radius: 9px;
  padding: 0px 7px;
  transition: padding 100ms;
}

#custom-power {
  margin-right: 4px;
}

#pulseaudio.bluetooth {
	background-color: #f5c2e7;
}
#pulseaudio.muted {
	background-color: #313244;
	color: #cdd6f4;
}

#network.disconnected,#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}
