* {
    font-family: "Noto Sans";
    font-size: 14px;
}

#window {
	background-color: --wofi-color0;
	color: --wofi-color7;
}

#outer-box {
	padding: 20px;
}

/* #inner-box { */
/* } */

/* #input { */
/* } */

#scroll {
	margin-top: 20px;
	margin-bottom: 20px;
}

#img {
	padding-right: 8px;
}

#text {
  color: --wofi-color7;
}

#text:selected {
  color: --wofi-color7;
}

#entry {
	padding: 8px;
}

#entry:selected {
  outline: none;
}

/* #unselected { */
/* } */

/* #selected { */
/* } */

#input, #entry:selected {
	border-radius: 10px;
  color: --wofi-color7;
  background-color: transparent;
}

#entry:selected {
  border: 2px solid --wofi-color1;
  padding: 6px;
}
